name: tf1-sindy
channels:
  - conda-forge
  - defaults

dependencies:
  - python=3.7
  - pip
  - numpy
  - scipy
  - matplotlib
  - scikit-learn
  - future
  - jupyter
  - ipykernel
  - pandas

  - pip:
      - tensorflow==1.15
